body {
    background-color: #1A1A1A;
    color: #C8DBD5;
}

.full-page-width {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #225BBD; /* Replace this with your desired link color */
    text-decoration: none;
}

a:hover {
    color: #5786D9; /* Replace this with your desired link color */
}

#mainCanvas {
    border: 1px solid black; /* Just to make the canvas visible */
}